Magic 271485
Revision Verdi_R-2020.12-SP1-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 960 332 153 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/bak7/fa23_ece411_fish-main/working_fwding/mp4/sim/dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 155540.000000
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 3

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/bak7/fa23_ece411_fish-main/working_fwding/mp4/sim/dump.fsdb"
addSignal -h 15 /top_tb/dut/datapath/execute/multi_o[31:0]
addSignal -h 15 /top_tb/dut/datapath/execute/markiplier/rs1[31:0]
addSignal -h 15 -holdScope rs2[31:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

